<%- include(`../partials/head`) %>
<%- include(`../partials/header`) %>



<div class="row content d-flex justify-content-center">
    <div class="col-md-5">
        <div class="box p-4">
            <div class="col-md-12 fw-bold fs-1 text-center">Track New Bug</div>
            <form class="mb-3" action="/index" method="POST">
                <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input id="title" class="form-control rounded-0" type="text" name="title" placeholder="Title" autofocus required>
                </div>
                <div class="form-group mb-3">
                    <label for="comments">Entry</label>
                    <textarea class="form-control" id="comments" name="comments" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="project">Project:</label>
                    <input class="form-control" id="project" type="text" name="project" value="<%= project.title %>" readonly>
                </div>
                <div class="form-group mb-3">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status">
                      <option selected value="Not being worked on">Not being worked on</option>
                      <option value="Work in Progress">Work in Progress</option>
                      <option value="Fixed">Fixed</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="priority">Priority</label>
                    <select class="form-control" id="priority" name="priority">
                      <option selected value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label" for="fixed">Is the bug fixed?</label>
                    <input class="form-check-input" id="fixed" type="checkbox" name="fixed">
                </div>
                <div class="d-grid gap-2 mb-3">
                    <input class="btn btn-outline-dark" data-mdb-ripple-color="dark" type="submit" value="Add New Bug">
                </div>
            </form>
                <div class="d-grid gap-2 mb-3">
                    <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="/projects/<%= project._id %>">Go back</a>
                </div>
        </div>
    </div>
</div>

<%- include(`../partials/footer`) %>