<%- include(`../partials/head`) %>
<%- include(`../partials/header`) %>

<div class="col-md-12 fw-bold fs-1 "><%= foundBugs.project %></div>
<div class="col-md-12 fw-bold fs-3 "><%= foundBugs.title %></div>
<div>
    <nav class="navbar navbar-expand-xl shadow-none">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="margin-right: 1rem;" href="/index/filtered">Bugs assigned to me</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="margin-right: 1rem;" href="/projects/<%= foundProject._id%>">Back to Project</a>                    
                </li>                 
            <% if (currentUser === foundBugs.assignedTo || role === "Admin" || role === "Team Leader") { %>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="/index/<%= foundBugs._id %>/edit" style="margin-right: 1rem;">Edit</a>
                </li>
                <li class="nav-item">
                    <form class="delete-form" action="/index/<%= foundBugs._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="margin-right: 1rem;">
                    </form>
                </li>
            <%  } %> 
            </ul>
          </div>
        </div>
    </nav>
</div>

<div class="">
    <div class="">
        <p><%= foundBugs.comments %></p>
        <p>Status: <%= foundBugs.status %></p>
        <p>Priority: <%= foundBugs.priority %></p>
        <p>Assigned to: 
            <% if(foundBugs.assignedTo == `unassigned`) { %> 
            <%= foundBugs.assignedTo %> 
            <% } else { %>
            <% for(let i = 0; i < foundUser.length; i++) { %>
                <% if(foundUser[i]._id == foundBugs.assignedTo) { %>
                <%= foundUser[i].firstName %> <%= foundUser[i].lastName %>
                <% }}} %>
        </p>
        <p> <% if(foundBugs.fixed) { %>
            Bug has been fixed!
            <% } else { %>
            Bug is not fixed yet 
            <% } %> 
        </p>

    </div>
</div>



<%- include(`../partials/footer`) %>