<%- include(`../partials/head`) %>
<%- include(`../partials/header`) %>


<div class="col-md-12 fw-bold fs-1 ">Compiled Bug List</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Bug Status</div>
            <div class="card-body chart-container"><canvas id="statusChart"></canvas></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Bug Assignments</div>
            <div class="card-body chart-container"><canvas id="unassignedChart" ></canvas></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Bug Priorities</div>
            <div class="card-body chart-container"><canvas id="priorityChart" ></canvas></div>
        </div>
    </div>
</div>


<div class="row mt-3 mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Data table</div>
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white" id="bugTable">
                    <thead class="bg-light">
                      <tr>
                        <th class="th-sm">Bug Name</th>
                        <th class="th-sm">Project</th>
                        <th class="th-sm">Priority</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Assigned To</th>
                        <th class="th-sm">Actions</th>
                        <th class="th-sm">Date Created</th>
                        <th class="th-sm">Last Updated</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% bugs.forEach((bugs, index) => { %>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1"><%= bugs.title %></p>
                            </div>
                          </div>
                        </td>
                        <td><%= bugs.project %></td>
                        <td><%= bugs.priority %></td>
                        <td><%= bugs.status %></td>
                        <% if(bugs.assignedTo === `unassigned`) { %>
                            <td><%= bugs.assignedTo %></td>
                        <% } else { %> 
                            <% for(let i = 0; i < userList.length; i++) { %>
                                <% if(userList[i]._id == bugs.assignedTo) { %>
                                    <td><%= userList[i].firstName %> <%= userList[i].lastName %></td>        
                                <% }}} %>
                        <td>
                        <a href="/index/<%= bugs._id %>" class="btn btn-link btn-sm btn-rounded">
                            Details
                        </a>
                        </td>
                        <td>
                            <%= moment(bugs.createdAt).format('MMMM Do YYYY, h:mm:ss a');  %>
                        </td>
                        <td>
                            <%= moment(bugs.updatedAt).format('MMMM Do YYYY, h:mm:ss a');  %>
                        </td>                    
                      </tr>
                    <% }) %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
<script>
    $(document).ready( function () {
    $('#bugTable').DataTable({
        fixedHeader: true,
        responsive: true
    });
    } );
</script>

<script>
    <% let naserv = 0; %>
    <% let wipserv = 0; %>
    <% let fixserv = 0; %>
    <% for(let i = 0; i < bugs.length; i++) { %>
        <% if(bugs[i].status == `Not being worked on`) {%>
            <% naserv = naserv + 1 %>
        <% } else if(bugs[i].status == `Work in Progress`) { %>
            <% wipserv = wipserv + 1%>
        <% } else { %>
            <% fixserv = fixserv + 1%>
        <% } }%>    
    let nacli = <%= naserv %>;
    let wipcli = <%= wipserv %>;
    let fixcli = <%= fixserv %>;
    var ctx = $(`#statusChart`);
    var statChart = new Chart(ctx, {
        type: `doughnut`,
        data: {
            labels: [`Not being worked on`, `Work in Progress`, `Fixed`],
            datasets: [{
                label: `Points`,
                backgroundColor: [`#E98725`, `#F7DE3A`, `#61C100`],
                data: [nacli, wipcli, fixcli]
            }]
        },
        options: {
            responsive: true,
            animation: {
            animateScale: true
           },
             plugins: {
                legend: {
                    position: `right`,
                }
              },
              maintainAspectRatio: false,
        }
    })
</script>
<script>
    <% let unserv = 0; %>
    <% let assserv = 0; %>
    <% for(let i = 0; i < bugs.length; i++) { %>
        <% if(bugs[i].status != `Fixed`) {%>
            <% if(bugs[i].assignedTo == `unassigned`) { %>
                <% unserv = unserv + 1 %>
        <% } else  { %>
            <% assserv = assserv + 1%>
        <% } } }%>    
    let uncli = <%= unserv %>;
    let asscli = <%= assserv %>;
    var ctx2 = $(`#unassignedChart`);
    var assChart = new Chart(ctx2, {
        type: `doughnut`,
        data: {
            labels: [`Unassigned`, `Assigned`],
            datasets: [{
                label: `Points`,
                backgroundColor: [`#F7DE3A`, `#e67e22`],
                data: [uncli, asscli]
            }]
        },
        options: {
            responsive: true,
            animation: {
            animateScale: true
           },
             plugins: {
                legend: {
                    position: `right`,
                }
              },
              maintainAspectRatio: false,
        }
    })
</script>
<script>
    <% let oneServ = 0; %>
    <% let twoServ = 0; %>
    <% let threeServ = 0; %>
    <% let fourServ = 0; %>
    <% let fiveServ = 0; %> 
    <% for(let i = 0; i < bugs.length; i++) { %>
        <% if(bugs[i].status != `Fixed`) {%>
        <% if(bugs[i].priority == 1) {%>
            <% oneServ = oneServ + 1 %>
        <% } if(bugs[i].priority == 2) { %>
            <% twoServ = twoServ + 1%>
        <% } if(bugs[i].priority == 3) { %>
            <% threeServ = threeServ + 1%>
        <% } if(bugs[i].priority == 4) { %>
            <% fourServ = fourServ + 1%>
        <% } if(bugs[i].priority == 5) { %>
            <% fiveServ = fiveServ + 1%>            
        <% } } }%>    
    let oneCli = <%= oneServ %>;
    let twoCli = <%= twoServ %>;
    let threeCli = <%= threeServ %>;
    let fourCli = <%= fourServ %>;
    let fiveCli = <%= fiveServ %>;
    var ctx3 = $(`#priorityChart`);
    var prioChart = new Chart(ctx3, {
        type: `doughnut`,
        data: {
            labels: [`1`, `2`, `3`, `4`, `5`],
            datasets: [{
                label: `Points`,
                backgroundColor: [`#C10000`, `#E98725`, `#F7DE3A`, `#61C100`, `#0F5ED8`],
                data: [oneCli, twoCli, threeCli, fourCli, fiveCli]
            }]
        },
        options: {
            responsive: true,
            animation: {
            animateScale: true
           },
             plugins: {
                legend: {
                    position: `right`,
                }
              },
              maintainAspectRatio: false,
        }
    })
</script>
<%- include(`../partials/footer`) %>